@inject NavigationManager NavManager
@inject HttpClient Http
@page "/Login"
@rendermode InteractiveAuto

@using System.Net
@using System.Net.Http
@using System.Net.Http.Json

@using BookLand.Client.Pages.Components;
@using static BookLand.Client.Models.DBModels;
<PageTitle>BookLand - Login</PageTitle>
<div id="login">
    <div>
        <label for="Usuario">Usuario</label>
        <InputText id="Usuario" @bind-Value="usuario.NomeUsuario" />
    </div>
    <div>
        <label for="Senha">Senha</label>
        <InputText id="Senha" type="password" @bind-Value="usuario.Senha" />
    </div>
    <div>
        <button @onclick="Logar">Login</button>
        <button @onclick="Cadastrar">Cadastrar</button>
    </div>
</div>

@code {
    Usuario usuario = new();

    private async Task Logar()
    {
        var res = await Http.PostAsJsonAsync("/API/Login", usuario);
        if (res.StatusCode == HttpStatusCode.Unauthorized)
        {
            Console.WriteLine("Usuário ou senha incorreto");
            return;
        }
        NavManager.NavigateTo("/");
    }
    private void Cadastrar()
    {
        NavManager.NavigateTo("/Cadastrar");
    }
}
