@inject HttpClient Http
@inject NavigationManager NavManager
@page "/"
@rendermode InteractiveAuto

@using System.Net.Http
@using System.Net.Http.Json

@using BookLand.Client.Pages.Components;
@using static BookLand.Client.Models.DBModels;
<PageTitle>Meus Livros</PageTitle>
<div id="meus-livros">

    <MeuLivro></MeuLivro>
    @* <button @onclick="BuscarLivros"></button> *@
</div>

@code {
    // private async Task BuscarMeusLivros() => await Http.GetFromJsonAsync<Livro>("API/ProcurarLivro/teste");

    protected override async Task OnInitializedAsync()
    {
        // NavManager.NavigateTo("/Login");

        await Http.GetFromJsonAsync<Livro>("API/ProcurarLivro/teste");

    }
}
